@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400');

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	width: 100%;
	margin: 0px auto;
}

iframe {
	border: none;
}

/* HEADER + MENU */
header {
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
     background-color: #fff;
}
.header{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;

}

.logo {
	display: flex;
 	width: 40%;
 	color: #3498db;
 	font-size: 18px;
} 

.logo .nom {
	color: #3498db;
 	font-size: 18px;
}
.logo span {
	font-size: 30px;
	margin-right: 10px;
	vertical-align: middle;
}

.logo span img {
	width: 35px;
}

.logo a { 	
	color: #3498db;
}

nav {
 	display: flex;
 	justify-content: flex-end; 
 	 align-self: center;
 	width: 60%;
}

nav ul {
	display: flex;
 	flex-direction: row;
 	list-style:none;
 	justify-content: space-between;
 	width: 300px;
}

nav li {
	text-decoration: none;
}

nav li a {
	text-decoration: none;
	color: #3498db;
	padding-bottom: 10px;
	border-bottom: 2px solid #ffffff;
	transition: border 0.4s ease-in-out;
}

nav li a:hover {
	text-decoration: none;
	color: #3498db;     
    border-bottom: 2px solid #3498db;

}

.active {
	  border-bottom: 2px solid #3498db;
}

/* SECTION 1 */
.title {
	width: 100%;
    padding: 80px 0 0px;
}

h1 {
	font-size: 38px;
	font-weight: 200;
	line-height: 55px;
	color: #34495e;
	max-width: 1160px;
    margin: 0 auto;
    padding: 0px 20px;
}

.racing {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* SECTION 2 CARD GRID */

h2 {
	font-size: 20px;
	font-weight: 400;
	color: #3498db;
	margin-bottom: 20px;
}

#projet {
	width: 100%;
	padding: 30px 20px 100px;
    margin: 0 auto;
	display: flex;
	flex-flow: wrap;
 	flex-direction: row;
 	justify-content: space-between;
}

.conteneur #about {
	margin: 0px auto;
	max-width: 1200px;
	padding: 0px 20px;
}

#projet article {
	width: 48%;
	min-height: 200px;
	background-color: #ffffff;
	margin-top: 50px;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;

}


 #projet article:hover {
	 box-shadow: 0 1px 25px 8px rgba(0, 0, 0, 0.07);
}
 #about article:hover {
	 box-shadow: 0 1px 25px 8px rgba(0, 0, 0, 0.07);
}

#projet article p {
	font-weight: 300;
	color: #34495e;
	line-height: 25px;
}

#projet .description {
	width: 65%;
	padding: 30px;
}

.projet1  {
	background: url(../img/test.png) no-repeat 94% -22% / 160px;
}
.projet2  {
	background: url(../img/cs.svg) no-repeat 94% 50% / 160px;
}
.projet3  {
	background: url(../img/gestion.png) no-repeat 94% -22% / 160px;
}
.projet4  {
	background: url(../img/hoppark.jpg) no-repeat 92% -10% / 160px;
}
.projet5  {
	background: url(../img/designsystem.jpg) no-repeat 92% -10% / 160px;
}
.projet6  {
	background: url(../img/speedseo.png) no-repeat 92% 40% / 110px;
}

/* TRAIT SEPARRATEUR */
.trait {
    background-color: #ededed;
    width: 70%;
    margin: 0 auto;
    height: 2px;
    border-radius: 2px;
    max-width: 800px;
}
}

/* SECTION 3 ABOUT */

.conteneur #about {
	margin: 0px auto;
	max-width: 1200px;
	padding: 0px 20px;
}

#about {
    padding: 80px 20px 100px;
    margin: 0 auto;
    width: 100%;
}

#about h1 {
	text-align: center;
}

#about h2 {
	margin-top: 20px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 25px;
}
#about h2:nth-last-of-type(1) {
	margin-top: 70px;
}


.conteneur {
	display: flex;
	flex-flow: wrap;
 	flex-direction: row;
 	justify-content: space-between;
 	max-width: 1200px;
 	margin: 0 auto;
}

#about article {
	width: 29%;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;
}

#about .exftno, #about .exsolocal {
	width: 47%;
}


#about .description {
	width: 100%;
	padding: 30px;
}

#about h3 {
	font-size: 16px;
	font-weight: 400;
	color: #34495e;
	margin-bottom: 5px;
	text-align: center;
}

#about h4 {
	margin-bottom: 2px;
}

#about h4 {
	margin-bottom: 10px;
	font-size: 14px;
	color: #a9a9a9;
	font-weight: 400;
	text-align: center;
}

#about p {
	font-size: 14px;
	color: #34495e;
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: 400;
}

#about li {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 4px;
	color: #34495e;
	font-weight: 400;
}

#about ul {
	margin-left: 30px;
}

.separateur {
    width: 25px;
    height: 2px;
    margin: 115px auto;
    background-color: #3498db;
    border-radius: 1px;
}

.logoentreprise {
	margin: 10px auto;
    width: 100%;
	max-height: 50px;
	opacity: 0.7;
	filter: grayscale(100%); 
	transition: filter, opacity 0.4s ease-in-out;
}

#about .formation {
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
	color: #3498db;
}

article:hover .logoentreprise {
	opacity: 1;
	filter: none;
}

/* SECTION 4FOOTER */

footer {
	margin: 0px auto;
	max-width: 1200px;
	padding: 80px 20px;

}
#contact h1 {
	text-align: center;
	margin-bottom: 40px;
}
footer ul {
	display: flex;
 	flex-direction: row;
 	flex-flow: wrap;
 	list-style:none;
 	justify-content: space-around;
 	width: 100%;
}

footer li a {
	text-decoration: none;
	color: #3498db;
	padding-bottom: 10px;
	font-size: 18px;
	border-bottom: 2px solid #ffffff;
	transition: border 0.4s ease-in-out;
}


footer li a:hover {
	text-decoration: none;
	color: #3498db;     
    border-bottom: 2px solid #3498db;

}

/* MOBILE */

@media only screen and (max-width: 1024px) {
    #projet article {
        width: 100%;
    }

    #projet .description {
		width: 74%;
	}

	.conteneur {
    	display: flex;
    	flex-flow: column;
	}

	#about article {
    	width: 100%;
    	min-height: 0px;
	}

	#about .exftno, #about .exsolocal {
		width: 100%;
	}

	.separateur {
    	width: 2px;
    	height: 25px;
    	margin: 10px auto;
    	background-color: #3498db;
    	border-radius: 1px;
	}
	
}






@media only screen and (max-width: 640px) {
    .logo {
    	width: 15%;
    	text-align: center;
	}

	nav {
		width: 85%;
	}
	nav ul {
		justify-content: space-around;
	}
	.nom {
		display: none;
	}

    .title {
		margin: 0px auto 0px;
		padding: 60px 0 0px;
    }
    .title h1 {
    	font-size: 25px;
    	line-height: 35px;
    }

    footer ul{
    	flex-direction: column;
    }

    footer li {
    	line-height: 50px;
    	text-align: center;
    }

    #projet {
    	padding: 20px 20px 100px;
    }

    #projet .description {
		width: 100%;
		min-height: 450px;
	}
	
	.projet1 {
		background-position :50% 190%;
	}
	.projet2 {
		background-position :50% 77%;
	}
	.projet3 {
		background-position :50% 220%;
	}
	.projet4 {
		background-position :50% 220%;
	}
	.projet5 {
		background-position :50% 210%;
	}
	.projet6 {
		background-position :50% 77%;
	}

	#about article {
    width: 100%;
	}

}


@media only screen and (max-width: 360px) {
	.projet1 {
		background-position :50% 260%;
	}
	.projet2 {
		background-position :50% 90%;
	}
	.projet3 {
		background-position :50% 262%;
	}
	.projet4 {
		background-position :50% 260%;
	}
	.projet5 {
		background-position :50% 250%;
	}
	.projet6 {
		background-position :50% 92%;
	}
	nav li a {
    font-size: 15px;
	}
}





